:root {
  --bg_main: #0c6396;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}

* {
  box-sizing: border-box;
  /* font-size: 1.2rem; */
}
.title {
  color: #0c6396;
}
.entry {
  text-indent: 2rem;
  font-size: 1.2rem;
}
#btn {
  font-size: 1.2rem;
}
.city-name {
  font-size: 1.6rem;
}
small {
  font-size: 3rem;
}
