:root {
  --bg_main: #0c6396;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}

* {
  box-sizing: border-box;
  /* font-size: 1.2rem; */
}
.title {
  color: var(--orange);
}
.entry {
  text-indent: 2rem;
  font-size: 1.2rem;
}
.entry:focus {
  outline: none;
}
#btn {
  font-size: 1.2rem;
}
.card {
  border: 0.1rem solid var(--bg_main);
}
.city-name {
  font-size: 1.6rem;
}
small {
  font-size: 3rem;
}
.clear {
  position: fixed;
  top: 5.5rem;
  right: 1rem;
}
